@import '../../styles/custom-properties.scss';

.fileUpload {
  display: flex;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previewImage {
  max-width: 15rem;
  max-height: 15rem;
  width: auto;
  height: auto;
}
.icon {
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.5;
    transform: translateY(2px);
  }
}

.uploadButton {
  display: none;
}
