@import '../../styles/custom-properties.scss';

.fileUpload {
  display: flex;
}

.previewImage {
  max-width: 15rem;
  max-height: 15rem;
  width: auto;
  height: auto;
}
.icon {
  &:hover {
    opacity: 0.5;
  }
  &:active {
    transform: translateY(2px);
  }
}

.uploadButton {
  display: none;
}
