@import '../../styles/custom-properties.scss';

.statsRow {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.statsReactions {
  display: flex;
  flex-direction: row;
  // font-size: smaller;
}
.statsReactions .icon {
  margin-right: -6px;
  background-color: transparent;
  padding: 2px;
  border-radius: 50%;
}

.noReactionsYet {
  font-size: small;
  @media screen and (max-width: $breakpoint-medium) {
    @media (pointer: coarse) {
      display: none;
    }
  }
}
