@import '../../styles/custom-properties.scss';

.quickButtons {
  padding: 0 4vw;
  padding-bottom: 0 !important; //removes 2rem padding bottom inherited from .App
}

.row {
  width: 100%;
  margin: 0.75rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.row * {
  z-index: 9;
}
.bigButtons {
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
    }
  }
}

.bigButtonWords {
  color: var(--default-font-color);
  margin: 0 1rem;
}
.bigButton {
  background-color: var(--overlay-light);
  display: flex;
  max-width: 50%;
  width: auto;
  padding: 0.5rem 1rem;
  border: 1px solid var(--default-font-color);
  border-radius: 0.5rem;
  &:visited,
  &:link {
    color: var(--default-font-color);
    text-decoration: none !important;
  }
  &:hover {
    color: var(--color-pallette-accent);
    border: 2px solid var(--color-pallette-accent);
    transform: translateY(2px);
    margin: calc(0.5rem - 1px) 0; //offsets the thickening of border on hover
  }
  &:hover .icon {
    color: var(--color-pallette-accent);
  }
  &:active {
    color: var(--default-font-color);
    text-decoration: none !important;
  }
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-medium) {
      max-width: 100%;
      min-width: 100%;
    }
  }
}

.dog {
  color: var(--default-font-color);
  &:hover {
    color: var(--default-font-color);
    transform: none;
  }
}
.backwardCat {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  &:hover {
    color: var(--default-font-color);
    // transform: rotateY(180deg);
    // -webkit-transform: rotateY(180deg);
    // -moz-transform: rotateY(180deg);
    // -o-transform: rotateY(180deg);
    // -ms-transform: rotateY(180deg);
    // unicode-bidi: bidi-override;
  }
}

.icon {
  font-size: 2rem;
  color: var(--default-font-color);
  padding: 5px 14px;
  border: 1px solid var(--default-font-color);
  border-radius: 0.5rem;
  background-color: var(--overlay-light);
  &:hover {
    color: var(--color-pallette-accent);
    transform: translateY(2px);
    border: 1px solid var(--color-pallette-accent);
  }
}

.backwardCat {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  &:hover {
    color: var(--default-font-color);
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    unicode-bidi: bidi-override;
  }
}
