@import './support-mixins.scss';

///Breakpoints
$breakpoint-small: 688px;
$breakpoint-medium: 992px;
$breakpoint-large: 1312px;
$breakpoint-extra-large: 1600px;

:root {
  --facebook-blue: #1778f2;
  --muted-facebook-blue: rgba(23, 120, 242, 0.6);
  --twitter-blue: #00acee;
  --muted-twitter-blue: rgba(0, 172, 238, 0.6);
  --google-red: #dd4b39;
  --muted-google-red: rgba(221, 75, 57, 0.6);
  --caution-yellow: #eed202;
  --muted-caution-yellow: rgba(238, 210, 2, 0.6);
  --caution-orange: #ff6700;
  --overlay-light: rgba(255, 255, 255, 0.6);
  --overlay-medium: rgba(0, 0, 0, 0.1);
  --overlay: rgba(0, 0, 0, 0.3);
  --overlay-dark: rgba(65, 88, 33, 0.8);
  --overlay-darkest: rgba(0, 0, 0, 0.9);
  --overlay-gray: rgba(88, 88, 88, 0.4);
  --button-width: 20rem;
  --button-height: 3.5rem;

  //color pallette
  --default-font-color: #1b4a56;
  --color-pallette-dark: #505b6a;
  --color-pallette-medium: #999999;
  --color-pallette-light: #dfe7f2;
  --color-pallette-accent: #75ecf2;
  --color-pallette-muted-accent: rgba(185, 212, 82, 0.8);
  --color-pallette-pastel-accent: rgba(185, 212, 82, 0.3);
  --hyperlink-blue: rgba(0, 0, 255, 0.4);

  --white: #fafafa;
  --default-background-color: var(--overlay-light);
  --default-background-image: linear-gradient(
    var(--overlay-light),
    var(--overlay-medium),
    var(--overlay-dark),
    var(--overlay-darkest)
  );
  --avatar-size: 130px;

  --backgrounds: var(--color-pallette-medium);
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-medium) {
      --backgrounds: var(--color-pallette-muted-accent);
    }
  }
  --page-border: 8px solid var(--backgrounds);

  --navbar-height: 5rem;
}

@mixin hyperlink {
  color: var(--hyperlink-blue);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--hyperlink-blue);
  text-decoration-color: var(--hyperlink-blue);
  &:hover {
    color: var(--overlay-gray);
    text-decoration: none;
  }
}

@mixin primary-button {
  background-color: var(--color-pallette-light);
  color: var(--color-pallette-dark);
  border-color: var(--color-pallette-light);
  font-size: large;
  text-transform: uppercase;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:before {
    border-color: var(--color-pallette-muted-accent);
  }
  &:hover {
    background-color: var(--color-pallette-accent);
    color: var(--white);
    border-color: var(--color-pallette-accent);
  }
  &:active,
  :visited,
  :focus {
    background-color: var(--color-pallette-light);
    color: var(--color-pallette-dark);
    border-color: var(--color-pallette-dark);
  }
}

@mixin purple-button {
  background-color: var(--color-pallette-muted-accent);
  color: var(--white);
  border-color: var(--color-pallette-muted-accent);
  font-size: large;
  text-transform: uppercase;
  &:before {
    border-color: var(--color-pallette-muted-accent);
  }

  &:active,
  :visited,
  :focus {
    background-color: var(--color-pallette-light);
    color: var(--color-pallette-dark);
    border-color: var(--color-pallette-dark);
  }
  &:hover {
    background-color: var(--color-pallette-accent);
    color: var(--white);
    border-color: var(--color-pallette-accent);
  }
}

@mixin rectangle-out {
  @include hacks();
  position: relative;
  background: var(--color-pallette-muted-accent);
  color: var(--color-pallette-dark);
  border: 1px solid var(--color-pallette-muted-accent);
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $mediumDuration);

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-pallette-accent);
    border-color: var(--color-pallette-accent);

    @include prefixed(transform, scale(0));
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:focus,
  &:active,
  &:visited,
  &:hover {
    color: white;
    background-color: var(--color-pallette-muted-accent);
    border-color: var(--color-pallette-accent);

    &:before {
      @include prefixed(transform, scale(1));
    }
  }
  &:active {
    background-color: var(--color-pallette-accent);
    color: var(--white);
    border-color: var(--color-pallette-accent);
  }
}

@mixin fadeIn {
  animation: fade ease 0.5s;
  -webkit-animation: fade ease 0.5s;
  -moz-animation: fade ease 0.5s;
  -o-animation: fade ease 0.5s;
  -ms-animation: fade ease 0.5s;
}
@mixin slowFadeIn {
  animation: longFade ease 2.4s;
  -webkit-animation: longFade ease 2.4s;
  -moz-animation: longFade ease 2.4s;
  -o-animation: longFade ease 2.4s;
  -ms-animation: longFade ease 2.4s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes longFade {
  0% {
    opacity: 0;
    transform: translateY(-12rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes longFade {
  0% {
    opacity: 0;
    transform: translateY(-12rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes longFade {
  0% {
    opacity: 0;
    transform: translateY(-12rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes longFade {
  0% {
    opacity: 0;
    transform: translateY(-12rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes longFade {
  0% {
    opacity: 0;
    transform: translateY(-12rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
