:root {
  --facebook-blue: #1778f2;
  --twitter-blue: #00acee;
  --google-red: #dd4b39;
  --caution-yellow: #eed202;
  --caution-orange: #ff6700;
  --overlay-light: rgba(255, 255, 255, 0.5);
  --overlay: rgba(0, 0, 0, 0.3);
  --overlay-dark: rgba(65, 88, 33, 0.8);
  --button-width: 20rem;
  --button-height: 3.5rem;

  //color pallette
  --default-font-color: #1b4a56;
  --color-pallette-dark: #415821;
  --color-pallette-accent: #94bd58;
  --color-pallette-purple: #382158;
  --color-pallette-gray: #7d9b9e;
  --color-pallette-light: #d3e08f;
  --default-background: #fafafa;
  --white: #fafafa;
}

@mixin primary-button {
  background-color: var(--color-pallette-gray);
  color: var(--white);
  border-color: var(--color-pallette-gray);
  font-size: large;
  text-transform: uppercase;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:hover {
    background-color: var(--color-pallette-accent);
    color: var(--white);
    border-color: var(--color-pallette-accent);
  }
  &:active,
  :visited,
  :focus {
    background-color: var(--color-pallette-gray);
    color: var(--color-pallette-dark);
    border-color: var(--color-pallette-dark);
  }
}

@mixin purple-button {
  background-color: var(--color-pallette-purple);
  color: var(--white);
  border-color: var(--color-pallette-purple);
  font-size: large;
  text-transform: uppercase;
  &:hover {
    background-color: var(--color-pallette-accent);
    color: var(--white);
    border-color: var(--color-pallette-accent);
  }
  &:active,
  :visited,
  :focus {
    background-color: var(--color-pallette-gray);
    color: var(--color-pallette-dark);
    border-color: var(--color-pallette-dark);
  }
}

@mixin rectangle-out {
  @include hacks();
  position: relative;
  background: var(--color-pallette-purple);
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $mediumDuration);

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-pallette-accent);
    border-color: var(--color-pallette-accent);

    @include prefixed(transform, scale(0));
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: var(--color-pallette-purple);
    border-color: var(--color-pallette-accent);

    &:before {
      @include prefixed(transform, scale(1));
    }
  }
}

///Breakpoints
$breakpoint-small: 688px;
$breakpoint-medium: 992px;
$breakpoint-large: 1312px;
$breakpoint-extra-large: 1600px;

@mixin fadeIn {
  animation: fade ease 0.5s;
  -webkit-animation: fade ease 0.5s;
  -moz-animation: fade ease 0.5s;
  -o-animation: fade ease 0.5s;
  -ms-animation: fade ease 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin hardwareAccel() {
  // Improve performance on mobile/tablet devices
  // Perspective reduces blurryness of text in Chrome
  @include prefixed(transform, perspective(1px) translateZ(0));
}

@mixin improveAntiAlias() {
  // Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@mixin forceBlockLevel() {
  // Transforms need to be block-level to work
  display: inline-block;
  vertical-align: middle;
}

@mixin hacks() {
  @include forceBlockLevel();
  @include hardwareAccel();
  @include improveAntiAlias();
}

// prefix declarations
@mixin prefixed($property, $value) {
  @if $webkit == true {
    -webkit-#{$property}: #{$value};
  }

  @if $moz == true {
    -moz-#{$property}: #{$value};
  }

  @if $ms == true {
    -ms-#{$property}: #{$value};
  }

  @if $o == true {
    -o-#{$property}: #{$value};
  }

  #{$property}: #{$value};
}

// prefix keyframes
@mixin keyframes($name) {
  @if $webkit == true {
    @-webkit-keyframes #{$name} {
      @content;
    }
  }

  @if $moz == true {
    @-moz-keyframes #{$name} {
      @content;
    }
  }

  @if $ms == true {
    @-ms-keyframes #{$name} {
      @content;
    }
  }

  @if $o == true {
    @-o-keyframes #{$name} {
      @content;
    }
  }

  @keyframes #{$name} {
    @content;
  }
}
// DEFAULT OPTIONS

// Prefix for Hover class names
$nameSpace: 'hvr' !default;

// Durations
$fastDuration: 0.1s !default;
$mediumDuration: 0.3s !default;
$slowDuration: 0.5s !default;

// Colors
$primaryColor: #e1e1e1 !default;
$secondaryColor: #666 !default;
$highlightColor: #ccc !default;
$activeColor: #2098d1 !default;
$shadowColor: rgba(0, 0, 0, 0.6) !default;

// Speech bubbles options
$tipWidth: 10px !default; //the width of the speech bubble tip
$tipHeight: 10px !default; //the height of the speech bubble tip
$tipColor: $primaryColor !default;

// Arrows options
$spaceBetweenTextAndArrows: 2.2em !default;

// Curl dimensions
$curlWidth: 25px !default;
$curlHeight: 25px !default;

// Curl colors
$revealAreaColor: white !default; // reveal area behind the curl
$curlLineColor: #aaa !default; // crease line
$curlTransitionColor: #ccc !default; // color transitioning from crease line to final color
$curlLastColor: white !default; // final color of the back of the curl

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;

// Compile with or without classes
$includeClasses: true !default;
