@import '../../styles/custom-properties.scss';

:root {
  --card-width: 20rem;
  --card-padding: 1rem;
  --photo-width: 5rem;
  --grid-padding: 2rem 5rem;
  --card-margin: 2px;
}
@media screen and (max-width: $breakpoint-medium) {
  :root {
    --card-padding: 0.1rem;
    --grid-padding: 1rem;
  }
}

.album {
  // min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 10;
  // background: var(--white);
  // border: 8px solid var(--color-pallette-dark);
  border-top: none;
  padding: 10px;
}

.buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.moreButton {
  @include rectangle-out;
  color: var(--black);
  text-transform: uppercase;
}

.cardGrid {
  padding: var(--grid-padding);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  position: relative;
  // animation: swipeUp 0.6s linear;
}

.card {
  // width: var(--card-width);
  min-width: 100px;
  min-height: 100px;
  // padding: var(--card-padding);
  margin: var(--card-margin);
  text-align: center;
  box-shadow: 3px 5px 10px var(--color-pallette-dark);
  overflow: hidden;
  &:hover {
    transition: all 0.4s ease-in-out;
    z-index: 11;
    transform: scale(1.5);
  }
}
.infoDiv {
  width: 100%;
  // max-width: calc(
  //   var(--card-width) - (var(--card-padding) * 2) - var(--photo-width)
  // );
  overflow: hidden;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes swipeUp {
  from {
    top: 80vh;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes swipeUp {
  from {
    top: 0px;
  }
  to {
    top: 800px;
  }
}
