@import '../../styles/custom-properties.scss';

.payDues {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 10;
  background: transparent;
  border-radius: 0.25rem 1rem 1rem;
  margin: 0 2rem 2rem;
  min-height: 40vh;
  @media screen and (max-width: $breakpoint-small) {
    margin: 0 0.5rem;
  }
}
.payDues h3 {
  color: var(--color-pallette-dark);
}
.body {
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: $breakpoint-small) {
    min-height: 80vw;
  }
}
.paragraph {
  max-width: 400px;
  margin: 1rem 0;
  @media screen and (max-width: $breakpoint-small) {
    max-width: 90vw;
  }
}

.paypalDiv {
  border: 1px solid var(--paypal-blue);
  padding: 2vw;
  border-radius: 2vw;
}

.link {
  font-size: larger;
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
}
