@import '../styles/custom-properties.scss';

:root {
  --button-color: #4285f4;
}

.authentication {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 990;
  background-color: var(--overlay);
  justify-content: center;
  align-items: center;
}
.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 4rem 3rem;
  border-radius: 1rem;
  background-color: white;
  z-index: 888;
  @media screen and (max-width: $breakpoint-medium) {
    width: 95%;
    padding: 15px;
  }
}
.header {
  margin: 0 0 1.5rem 0;
}
.button span {
  font-size: x-large;
  @media (pointer: coarse) {
    font-size: xx-small;
  }
}
.anonymousAuthButton,
.twitterAuthButton,
.facebookAuthButton,
.googleAuthButton {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.twitterAuthButton {
  background-color: var(--twitter-blue);
  border: var(--twitter-blue);
  &:hover {
    background-color: white;
    color: var(--twitter-blue);
    border: white;
  }
}
.googleAuthButton {
  background-color: var(--google-red);
  border: var(--google-red);
  &:hover {
    background-color: white;
    color: var(--google-red);
    border: white;
  }
}
.facebookAuthButton {
  background-color: var(--facebook-blue);
  border: var(--facebook-blue);
  &:hover {
    background-color: white;
    color: var(--facebook-blue);
    border: white;
  }
}
form {
  width: 100%;
  max-width: 400px;
  margin: 0 0 1rem;
  text-align: left;
  border: 1px solid var(--button-color);
  border-radius: 10px;
  padding: 20px;
}
.input {
  width: 100%;
  margin: 0.5rem 0;
}
.signupForm,
.loginForm {
  margin-right: 1rem;
  background-color: var(--button-color);
  color: white;
  border: 1px solid var(--button-color);
}
.signupForm {
  background-color: white;
  color: var(--button-color);
}

.anonymousAuthButton {
  background-color: var(--caution-orange);
  border: var(--caution-orange);
  &:hover {
    background-color: white;
    color: var(--caution-orange);
    border: white;
  }
}
