@import '../styles/custom-properties.scss';

.home {
  background: url('../assets/sign.jpg') no-repeat fixed bottom;
  background-size: 100% auto;
  margin-top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}

.blackland {
  font-size: 4vw;
  font-weight: 900;
}
