@import '../styles/custom-properties.scss';

.home {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10 !important;
}
.heading {
  @include fadeIn;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--default-background);
  padding: 3rem 5rem;
  border-radius: 1rem;
}
.blackland {
  font-size: calc(30px + 1vw);
  font-weight: 900;
  color: var(--color-pallette-dark);
}
.headingButtonRow {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 0;
}
.headingButtonRow > span {
  color: var(--color-pallette-dark);
  border: 1px solid var(--color-pallette-dark);
  border-radius: 5px;
  padding: 0.5rem 2vw;
  margin: 0 1rem;
  &:hover {
    background-color: var(--color-pallette-dark);
    color: var(--color-pallette-light);
  }
}
