@import '../styles/custom-properties.scss';

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}

.card {
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  width: 85%;
  text-align: left;
  max-width: $breakpoint-medium;
  @media screen and (max-width: $breakpoint-medium) {
    width: 92%;
    padding: 0.5rem 1rem;
  }
}
.responseCard {
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  width: 85%;
  border: 1px solid var(--overlay-medium);
  border-radius: 8px;
  box-shadow: 1px 1px 1px var(--overlay-medium);
  text-align: left;
  max-width: $breakpoint-medium;
  @media screen and (max-width: $breakpoint-medium) {
    width: 96%;
    padding: 0.5rem 1rem;
  }
}
.responseCard > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15%;
  float: left;
  margin-right: 0.5rem;
  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: row;
    float: none;
    width: 100%;
    flex-direction: row;
  }
}

.responseCard * {
  @media screen and (max-width: $breakpoint-medium) {
    font-size: small;
  }
}

.responseCard > figure > img {
  border-radius: 50%;
}

.icon {
  margin: 0 10px 0 0;
  &:hover {
    cursor: pointer;
  }
}

.repliesDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
    align-items: center;
  }
}
.subCard {
  width: 80%;
  padding: 0 2rem 1rem 2rem;
  text-align: left;
}
