@import '../styles/custom-properties.scss';

.referrals {
  z-index: 9;
  background-color: var(--white);
  border: var(--page-border);
  border-bottom: none;
  min-height: 90vh;
}
.referrals a {
  color: var(--color-pallette-muted-accent);
}
.cardDiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
    }
  }
}
.card {
  max-width: 25rem;
  min-width: 250px;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--color-pallette-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-medium) {
      min-width: calc(100% - 2rem);
    }
  }
  &:hover {
    box-shadow: 5px 10px 18px var(--color-pallette-muted-accent);
  }
}
.card * {
  margin: 0.25rem 0;
}

.clickable {
  color: var(--color-pallette-dark) !important;
  &:hover {
    color: var(--color-pallette-muted-accent) !important;
  }
}

.filtered {
  display: none;
}
.moreBtn {
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--color-pallette-accent);
  text-transform: none;
  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-pallette-muted-accent);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
