@import '../styles/custom-properties.scss';

.profileSetup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profileForm {
  display: none;
}

.inputRow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
  flex-wrap: nowrap;
}
.inputRow label,
.label {
  width: 35%;
  text-align: right;
  padding-right: 1rem;
}
.inputRow input,
.inputRow select,
.input {
  width: 60%;
}

.checkboxRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  flex-wrap: nowrap;
}
.checkboxRow label {
  width: 75%;
  text-align: right;
  padding-right: 1rem;
}
.checkboxRow input {
  width: 20%;
}
