@import '../styles/custom-properties.scss';

.profileForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
input {
  margin-bottom: 0.75rem;
}
.photoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
}
.photoDiv > div {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profileForm button {
  @include rectangle-out;
}
.checkboxes {
  //this is the entire block
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #dddddd;
  :nth-child(1) {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  :nth-child(even) {
    background-color: #aaaaaa;
  }
  :nth-last-child(1) {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
.checkboxRow {
  //each individual row
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0;
}
.checkbox {
  //the actual checkbox
  margin: 0;
  padding: 0;
}

input {
  margin-bottom: 0;
}
