@import '../styles/custom-properties.scss';

.root {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.accordionHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.accordionHead span {
  width: 33%;
}

.likeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-medium);
  padding: 0.25rem 0;
  border-radius: 0.5rem;
  text-align: center;
  &:hover {
    background-color: var(--overlay-dark);
    color: var(--white);
  }
}

.likeButton * {
  flex-grow: 1;
}

.reactionSpan,
.liked {
  font-size: 13.333px;
}

.liked {
  text-align: right;
}
